body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header, .under-header, .footer {
    padding: 0px 200px 0px 200px;
    flex-shrink: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    align-items: center;
}


.logo {
    font-size: 24px;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #a6a9af
}

.under-header {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
    gap: 40px;
}

.next-to-image .sign-up-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: gray;
}

.next-to-image {
    flex: 1;
}

.next-to-image h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 30px 0px 0px 0px;
}

.next-to-image p {
    font-size: 18px;
    color: #a6a9af;
    margin-top: 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    padding-top: 200px;
    overflow-y: auto;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    display: flex;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image-placeholder {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    border-color: #3882f6;
}

.card-text {
    text-align: center;
    text-wrap: wrap;
    width: 150px
}

.information-title {
    font-weight: bold;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
}

.quote-container {
    padding: 0px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    text-emphasis: light;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
}

.quote-subtext {
    align-self: flex-end;
    font-weight: bold;
    padding-right: 50px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    display: flex;
    padding: 30px 60px;
    width: 50%;
    border-radius: 10px;
    margin: 30px 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button-container button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px;
    border-color: white;
}

.next-to-button h3 {
    color: white;
}

.next-to-button p {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.copyright {
    text-align: center;
}